.animated{
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  -o-animation-fill-mode:both;
  animation-fill-mode:both;

  -webkit-animation-duration:3s;
  -moz-animation-duration:3s;
  -ms-animation-duration:3s;
  -o-animation-duration:3s;
  animation-duration:3s;
}

.animated.hinge{
  -webkit-animation-duration:3s;
  -moz-animation-duration:3s;
  -ms-animation-duration:3s;
  -o-animation-duration:3s;
  animation-duration:3s;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-o-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
      }

      100% {
        opacity: 1;
        -webkit-transform: translateY(0);
      }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
      }

      100% {
        opacity: 1;
        -moz-transform: translateY(0);
      }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
      }

      100% {
        opacity: 1;
        -o-transform: translateY(0);
      }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
      }

      100% {
        opacity: 1;
        -webkit-transform: translateY(0);
      }
}

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
      }

      100% {
        opacity: 1;
        -moz-transform: translateY(0);
      }
}

@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
      }

      100% {
        opacity: 1;
        -o-transform: translateY(0);
      }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
      }

      50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
      }

      70% {
        -webkit-transform: scale(.9);
      }

      100% {
        -webkit-transform: scale(1);
      }
}

@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    -moz-transform: scale(.3);
      }

      50% {
        opacity: 1;
        -moz-transform: scale(1.05);
      }

      70% {
        -moz-transform: scale(.9);
      }

      100% {
        -moz-transform: scale(1);
      }
}

@-o-keyframes bounceIn {
  0% {
    opacity: 0;
    -o-transform: scale(.3);
      }

      50% {
        opacity: 1;
        -o-transform: scale(1.05);
      }

      70% {
        -o-transform: scale(.9);
      }

      100% {
        -o-transform: scale(1);
      }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% { transform: scale(.9); }

  100% { transform: scale(1); }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  -moz-animation-name: bounceIn;
  -o-animation-name: bounceIn;
  animation-name: bounceIn;
}
