html {
  background: #cedce7;
  background: -moz-linear-gradient(top,  #cedce7 0%, #596a72 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(100%,#596a72));
  background: -webkit-linear-gradient(top,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(top,  #cedce7 0%,#596a72 100%);
  background: -ms-linear-gradient(top,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(to bottom,  #cedce7 0%,#596a72 100%);
}

#container {
  height: 100% !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

#content {
  float: left;
  width: 100%;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
}

#wrapper {
  width: 50%;
  top: 30%;
  margin: 0 auto;
  padding: 40px;
  background: white
}

p {
  font-size: 1.3em
}

h1, h2, h3 {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 3em
}

#content section .page_container {
  position: relative;
  margin: 0 auto 0;
  max-width: 95%;
  z-index: 3;
}

.get-it {
  margin-top: 20px;
  color: #596a72;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 200%;
}

.colors {
  float: left;
  padding-left: 8%
}

.raining {
  float: right;
  position: relative;
  right: -50px
}

#lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}

#get_it {
  color: black;
  display: none
}

.raining_content {
  padding: 15%;
  width: 400px
}

.colors_content {
  padding: 10%;
  float: right;
  width: 600px
}

.onepage-pagination li a.active:before {
  background: white;
  border: 1px solid white;
}

.onepage-pagination li a:before {
  background: rgba(255, 255, 255, 0.85);
}
