html{
  background-color: #d55150;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d55150), to(#e47d43));
  background: -webkit-linear-gradient(top, #d55150, #e47d43);
  background: -moz-linear-gradient(top, #d55150, #e47d43);
  background: -ms-linear-gradient(top, #d55150, #e47d43);
  background: -o-linear-gradient(top, #d55150, #e47d43);
  min-height: 100%;
}

body {
  -webkit-backface-visibility: hidden;
  margin: auto;
  height: 100%;
  font-size: 80%;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

canvas {
  display: none;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.icon-github:hover { color: black }
.icon-twitter:hover { color: #1ab2e8 }

ul {
  padding: 0;
  margin: 0;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 1em;
}

.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-o-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

#container {
  padding-top: 5em
}

#twitter_account {
  text-align: center
}

.clear {
  clear: both;
}

.temperature {
  font-size: 10em;
}

.social {
  font-size: 2em;
}

.social a {
  padding: .3em
}

#weather_icon {
  font-size: 20em;
}

#weather_conditions {
  min-height: 40%;
}

#city_name {
  border: 0;
  background: transparent;
  color: white;
  font-size: 3em;
  text-align: center
}

.bring_umbrella {
  font-size: 3em;
  cursor: help;
}

.weather_scale {
  font-size: 10em;
}

.about {
  text-align: left;
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  {
  .minimal_weather { font-size: 2em; }
  .social { font-size: 4em; }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
  .minimal_weather { font-size: 1em; }
  .social { display: none }
}
