html {
  background: #323949;
}

body {
  -webkit-backface-visibility: hidden;
  margin: auto;
  height: 100%;
  font-size: 80%;
  color: white;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#sun {
  text-decoration: none;
  font-size: 7em;
  text-align: center;
}

.about_content {
  font-size: 2em
}

.about_content h1,
.about_content h2,
.about_content h3,
.about_content h4 {
  font-family: "Helvetica Neue", "Lato", sans-serif;
  font-weight: 300;
}

a {
  color: white;
  text-decoration: none;
}

canvas {
  display: none;
}

.icon-github:hover { color: black }
.icon-twitter:hover { color: #1ab2e8 }
.icon-about:hover { color: yellow }

ul {
  padding: 0;
  margin: 0;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 1em;
}

.about footer {
  position: relative;
}

.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.drawer {
  overflow: auto;
  position: absolute;
  z-index: 1;
}

.left-drawer {
  width: 300px;
}

.day_cold {
  background: #d9eeea;
  background: -moz-linear-gradient(top,  #5a7b97 0%, #d9eeea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a7b97 ), color-stop(100%,#d9eeea ));
  background: -webkit-linear-gradient(top,  #5a7b97 0%,#d9eeea 100%);
  background: -o-linear-gradient(top,  #5a7b97 0%,#d9eeea 100%);
  background: -ms-linear-gradient(top,  #5a7b97 0%,#d9eeea 100%);
  background: linear-gradient(to bottom,  #5a7b97 0%,#d9eeea 100%);
}
.day_normal {
  background: #c3eae1;
  background: -moz-linear-gradient(top,  #3c96b8 0%, #c3eae1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c96b8 ), color-stop(100%,#c3eae1 ));
  background: -webkit-linear-gradient(top,  #3c96b8 0%,#c3eae1 100%);
  background: -o-linear-gradient(top,  #3c96b8 0%,#c3eae1 100%);
  background: -ms-linear-gradient(top,  #3c96b8 0%,#c3eae1 100%);
  background: linear-gradient(to bottom,  #3c96b8 0%,#c3eae1 100%);
}
.day_hot {
  background-color: #d55150;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d55150), to(#e47d43));
  background: -webkit-linear-gradient(top, #d55150, #e47d43);
  background: -moz-linear-gradient(top, #d55150, #e47d43);
  background: -ms-linear-gradient(top, #d55150, #e47d43);
  background: -o-linear-gradient(top, #d55150, #e47d43);
}

.night_cold {
  background: #2b4a65;
  background: -moz-linear-gradient(top,  #2b4a65 0%, #87b0db 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b4a65), color-stop(100%,#87b0db));
  background: -webkit-linear-gradient(top,  #2b4a65 0%,#87b0db 100%);
  background: -o-linear-gradient(top,  #2b4a65 0%,#87b0db 100%);
  background: -ms-linear-gradient(top,  #2b4a65 0%,#87b0db 100%);
  background: linear-gradient(to bottom,  #2b4a65 0%,#87b0db 100%);
}

.night_normal {
  background: #044b9a;
  background: -moz-linear-gradient(top,  #044b9a 0%, #49bed7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#044b9a), color-stop(100%,#49bed7));
  background: -webkit-linear-gradient(top,  #044b9a 0%,#49bed7 100%);
  background: -o-linear-gradient(top,  #044b9a 0%,#49bed7 100%);
  background: -ms-linear-gradient(top,  #044b9a 0%,#49bed7 100%);
  background: linear-gradient(to bottom,  #044b9a 0%,#49bed7 100%);
}
.night_hot {
  background: #43139a;
  background: -moz-linear-gradient(top,  #43139a 0%, #e98f8f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43139a), color-stop(100%,#e98f8f));
  background: -webkit-linear-gradient(top,  #43139a 0%,#e98f8f 100%);
  background: -o-linear-gradient(top,  #43139a 0%,#e98f8f 100%);
  background: -ms-linear-gradient(top,  #43139a 0%,#e98f8f 100%);
  background: linear-gradient(to bottom,  #43139a 0%,#e98f8f 100%);
}

#container {
  min-height: 100%;
  position: relative;
  z-index: 2
}

#twitter_account {
  text-align: center
}

.clear {
  clear: both;
}

.temperature {
  font-size: 10em;
  font-family: 'Lato', sans-serif;
}

.social {
  font-size: 3em;
  opacity: 0.7
}

.social a {
  padding: .3em
}

#weather_icon {
  font-size: 20em;
}

#weather_conditions {
  min-height: 40%;
}

#city_name {
  border: 0;
  background: transparent;
  color: white;
  font-size: 3em;
  font-family: 'Lato', sans-serif;
  text-align: center
}

.bring_umbrella {
  font-size: 3em;
  cursor: help;
}

.weather_scale {
  font-size: 10em;
  font-family: 'Lato', sans-serif;
}

.about_content {
  text-align: left;
}

.about_content a {
  text-decoration: underline
}

.button {
    position: relative;
    display: block;
    float: left;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    z-index: 10;
    padding: 15px 0;
    font-family: 'Lato', sans-serif;
    background-color:#C5C5C5;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}

.button:active {
    padding: 15px 0 12px;
    top: 3px;
}

.plain-buttons {
  padding: 20px;
}

.plain-buttons:after {
  content: "";
  display: table;
  clear: both;
}

.plain-buttons .button {
    border: 1px solid #C5C5C5;
    background-image: linear-gradient(#f7f7f7, #ececec);
    box-shadow: inset 0 -4px #cecece, inset 0 1px white;
    color: #2d2d2d;
}

.button-left {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 50%;
    left: 1px;
}

.button-left:active {
    box-shadow: inset 0 -2px #cecece, inset 0 1px white, inset -6px 0 10px -2px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(#ececec, #f7f7f7);
}

.button-right {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 50%;
}

.button-right:active {
    box-shadow: inset 0 -2px #cecece, inset 0 1px white, inset 6px 0 10px -2px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(#ececec, #f7f7f7);
}

.minimal_weather {
  width: 50%;
  height: 60%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.config {
  padding: 10px
}

.config h3 {
  padding-top: 20px
}

@-webkit-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

#drag {
  padding-top: 20px;
  opacity: 0
}

.fadeOut {
  -webkit-animation: fadeOut 5s;
  animation: fadeOut 5s;
}

/* iPad Mini */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  {
  .left-drawer { width: 600px; font-size: 2em; }
  .button { font-size: 1.2em }
  .minimal_weather { font-size: 2em; }
  .social { font-size: 4em; }
}

/* iPad Mini landscape */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
  .minimal_weather { height: 80%; }
}

/* iPhone 5 */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  .config { font-size: 1.3em }
  .config_media { display: none }
  .config_about { display: none }
}

/* iPhone 5 landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
  .minimal_weather {
    font-size: 1em;
    height: 80%
  }
  .social { display: none }
}

/* iPhone 2G, 3G, 4, 4S */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .minimal_weather {
    font-size: 1em;
    height: 60%
  }
}

/* iPhone 2G, 3G, 4, 4S landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : landscape) {
  .minimal_weather {
    height: 90%
  }
}
