<!DOCTYPE html>
<html lang="en" ng-app="minimalweather" data-framework="angularjs">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/styles.css" />
  <title>Minimal Weather</title>
</head>
<body ng-controller="MainController">
  <h1>Minimal Weather</h1>
  <form ng-submit="search()">
    City:
    <input type="text" name="name" ng-min-length="2" ng-model="citySearch" ng-trim="true" required/>
    <button type="button" ng-click="clear()">X</button>
  </form>

  <div ng-if="city.name">
    <div id="weather_icon">
      <span class="weather">{{city.weather.icon|asWeather}}</span>
    </div>
    {{city.weather.temperature|number:0}}C
    <p>
      The temperature in {{city.name}} is {{city.weather.temperature}} celsius
      and the current condition is: {{city.weather.condition}}
    </p>
  </div>

  <script src="/js/libs/angular-unstable/angular.js"></script>
  <script src="/js/libs/angular-resource/angular-resource.js"></script>
  <script src="/js/libs/angular-cookies/angular-cookies.js"></script>
  <script src="/js/libs/angular-geolocation/geolocation.js"></script>
  <script src="/js/icons.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>
