<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="pragma" content="no-cache">
  <meta name="viewport" content="width=device-width, minimum-scale=0.6, maximum-scale=0.6" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

   <!-- Home screen title. -->
   <meta name="apple-mobile-web-app-title" content="weather">

  <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>

  <!-- Startup images -->

  <!-- iOS 6 & 7 iPhone -->
  <link href="/assets/img/splash-320x460.png" rel="apple-touch-startup-image">

  <!-- iOS 6 & 7 iPhone 5 -->
  <link href="/assets/img/splash-640x1096.png"
        media="(device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image">

  <!-- iOS 6 & 7 iPhone (retina) -->
  <link href="/assets/img/splash-640x920.png"
        media="(device-width: 320px) and (device-height: 480px)
          and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image">

  <!-- iOS 6 iPad (portrait) -->
  <link href="/assets/img/splash-768x1004.png"
        media="(device-width: 768px)
          and (orientation: portrait)"
        rel="apple-touch-startup-image">

  <!-- iOS 6 iPad (landscape) -->
  <link href="/assets/img/splash-748x1024.png"
        media="(device-width: 768px)
          and (orientation: landscape)"
        rel="apple-touch-startup-image">

   <!-- iOS 6 & 7 iPad (retina, portrait) -->
  <link href="/assets/img/splash-1536x2008.png"
        media="(device-width: 1536px)
          and (orientation: portrait)
          and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image">

  <!-- iOS 6 & 7 iPad (retina, landscape) -->
  <link href="/assets/img/splash-2048x1496.png"
        media="(device-width: 1536px)
          and (orientation: landscape)
          and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image">

  <link rel="stylesheet" href="/assets/css/minimalweather.min.css" />
  <script src="/assets/js/minimalweather.min.js"></script>
  <title>Minimal Weather</title>
</head>
<body id="main">

  <div class="drawer">
    <div class="left-drawer">
      <div class="config">
        <div class="config_units">
          <h2>Units</h2>
          <p>
            I try to autodetect from where you are accessing and use the correct
            unit but if you want you can change that here:
          </p>

          <div class="split-buttons plain-buttons">
            {{ if .Celsius }}
            <a href="/" id="f" class="button">&deg;F</a>
            {{ else }}
            <a href="/" id="c" class="button">&deg;C</a>
            {{ end }}
          </div>
        </div>

        <div class="config_refresh">
          <h2>Force Refresh</h2>
          <p>
            Somethings things don't work and you want to force the app to forget
            the location cache. Click here to make it happen.
          </p>

          <div class="split-buttons plain-buttons">
            <a href="/" id="force_refresh" class="button">Refresh</a>
          </div>
        </div>

        <div class="config_about">
          <h2>About</h2>
          <a href="/about">What's so special about Minimal Weather now?</a>
        </div>

        <div class="config_media">
          <h2>Media</h2>
          <p> <a href="http://twitter.com/minimalweather">@minimalweather</a> </p>
          <p> <a href="mailto:nimbus@minimalweather.com">email</a> </p>
        </div>

      </div>

    </div>
  </div>

  <div id="container" class="{{ if .Cold }} cold {{ else }} hot {{ end }} pure-g-r">
    <div class="pure-u-1-2 minimal_weather">
        <div id="weather_conditions" class="pure-g-r">
          <div class="pure-u-1-1" id="weather_icon">
          <div id="condition_icon" class="icon-{{ .Weather.Icon }}"></div>
          </div>

          <div class="pure-g-r" id="weather_temperature">
          <span class="temperature">{{ .Weather.Temperature }}</span>
          <span class="weather_scale">&deg;{{ .Unit }}</span>
            {{ if .Weather.BringUmbrella }}
            <a class="weather bring_umbrella"
              title="It's going to rain at some point today. You should get your umbrella">
              &#xe031;
            </a>
            {{ end }}
          </div>
        </div>

        <div id="city_name">{{.City.Name}}</div>
        <img src="/assets/img/drag.png" id="drag" alt="drag" class="fadeOut">
    </div>

    <footer class="pure-g-r">
      <div class="social">
        <a href="http://twitter.com/share" id="twitter">
          <span class="icon-twitter"></span>
        </a>

        <a href="https://github.com/elcuervo/minimalweather">
          <span class="icon-github"></span>
        </a>

        <a href="/about">
          <span class="icon-about"></span>
        </a>

      </div>
    </footer>

  </div>

  <canvas id="ios_icon_generator"></canvas>

  <script type="text/javascript">
    var mw = new MinimalWeather({{ .JSON }});
    mw.bindRefresh(document.getElementById("force_refresh"));
    mw.bindUnits([
      document.getElementById("c"),
      document.getElementById("f")
    ]);
    mw.generateIcon();
    mw.geolocate();

    var ipad = BrowserDetect.OS == "iPhone/iPad" &&
               BrowserDetect.browser == "Safari";

    new Snap({
      element: document.getElementById("container"),
      disable: "right",
      maxPosition: ipad ? 600 : 300,
      minPosition: ipad ? -600 : -300
    });

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33584289-1']);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';

     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

    var twitterButton = document.getElementById("twitter");
    twitterButton.addEventListener("click", function(e) {
      e.preventDefault();

      var message = "Check out the weather app with icon auto update";

      var width  = 575;
      var height = 400;
      var left   = (window.innerWidth - width)  / 2;
      var top    = (window.innerHeight - height) / 2;
      var opts   = 'status=1,width=' + width + ',height=' + height + ',top=' + top + ',left=' + left;
      var url    = this.href + '?text=' + encodeURI(message) + '&via=minimalweather';

      window.open(url, 'twitter', opts);
    });
  </script>
</body>
</html>
