body {
  background: rgb(239, 232, 217);
  margin: auto;
  text-align: center;
  font-family: sans-serif;
}

a {
  color: grey;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

#container {
  padding: 3em
}

#twitter_account {
  text-align: center
}

.clear {
  clear: both;
}

.temperature {
  font-size: 14em;
  font-weight: bold;
}

#weather_icon {
  font-size: 15em;
  height: 1.2em
}

.weather_scale {
  font-size: 14em;
}
